*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'General Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff18;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff7e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff9e; 
}

body{
    background: #000000;
}

.background{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    user-select: none;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
    user-select: none;
}

.goodgit{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin: -3rem 0 -1rem 0;
    width: 20rem;
}

.github{
    cursor: pointer;
    transition: 0.1s;
    opacity: 0.8;
}

.github:hover{
    opacity: 1;
    filter: brightness(200%);
}

/* .terminalParent{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    width: 850px;
    height: 50vh;
    padding: 1.5rem;
    border-radius: 10px;
    background: linear-gradient(69deg, rgba(15, 15, 15, 0.50) -3.25%, rgba(35, 35, 35, 0.50) 102.57%);
}

.terminal{
    border-radius: 10px;
    background: linear-gradient(69deg, #0F0F0F -3.25%, #1F1F1F 102.57%);
    padding: 0.3rem 1.75rem;
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.commandContainer{
    margin-top: 1rem;
}

.terminal_cursor{
    transform: scale(1.3);
}

.inputDiv{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    height: 1.5rem;
    margin-top: 1rem;
}

.activeInput .terminal_cursor rect{
    fill: #73F698;
}

.terminal_input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    color: #DCDCDC;
    margin-bottom: -0.4rem;
    font-size: 18px;
    font-weight: 500;
}

.output{
    color: #AAA;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    margin-top: 20px;
    margin-left: -4px;
} */

.buttonGithub{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
}

.moonAnimation{
    margin-bottom: -35px;
    margin-left: -40px;
}

.buttonGithub .moonAnimation{
    position: absolute;
    bottom: 0rem;
}

.github_signin{
    position: relative;
    font-size: 19px;
    background: #DCDCDC;
    color: #000;
    padding: 18px 30px;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
    transition: .4s all;
}

.github_signin:hover{
    filter: drop-shadow(0 0 30px #dcdcdc70);
}

.pathClass{
    pointer-events: none;
    z-index: 2;
}

.moonClass{
    pointer-events: none;
    position: relative;
    z-index: 2;
    animation: zindexAni 5s linear infinite;
}


@keyframes zindexAni {
    0%{
        /* display: block; */
        z-index: 2;
    }
    
    1%{
        /* display: none; */
        z-index: 2;
    }

    49%{
        /* display: none; */
        z-index: 2;
    }

    50%{
        /* display: block; */
        z-index: -1;
    }

    51%{
        /* display: none; */
        z-index: -1;
    }

    100%{
        /* display: none; */
        z-index: -1;
    }
}


/* mid terminal type interface */
.terminalParent{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    width: 850px;
    height: 55vh;
    padding: 1.5rem;
    border-radius: 10px;
    background: linear-gradient(69deg, rgba(15, 15, 15, 0.50) -3.25%, rgba(35, 35, 35, 0.50) 102.57%);
}

.terminal{
    border-radius: 10px;
    background: linear-gradient(69deg, #0F0F0F -3.25%, #1F1F1F 102.57%);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tabs{
    display: flex;
    color: #DCDCDC;
    width: 110%;
    margin-left: -0.6rem;
}

.tab{
    transform: skew(20deg);
    border-bottom: 0.5px solid #DCDCDC;
    border-left: 0.5px solid #DCDCDC;
    cursor: pointer;
    transition: 0.3s;
}

.tab:hover{
    background: #ffffff0a;
}

.activeTab:hover{
    background: none;
}

.activeTab{
    border-bottom: none;
    cursor: default;
}

.activeTab h3{
    font-weight: 500 !important;
}

.tab h3{
    transform: skew(-20deg);
    padding: 16px 27px;
    font-size: 1.1rem;
    font-weight: 300;
}

.terminalContent{
    display: flex;
    flex-direction: column;
    margin: 2rem 10rem;
    align-items: center;
    display: none;
}

.activeTerminal{
    display: flex;
}

.illustration{
    width: 90%;
    margin-top: 0.5rem;
}

.copyDiv{
    display: flex;
    align-items: center;
    justify-items: center;
    border: 1px solid #3D3D3D;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1rem;
    position: relative;
    color: #DCDCDC;
    width: 75%;
    margin-top: 1rem;
}

.copyDiv .text{
    font-weight: 400;
    font-family: Source Code Pro;
}

.copyDiv .copy{
    font-weight: 400;
    cursor: pointer;
    transition: .2s all;
}

.copy span{
    margin-left: 2.5rem;
}

.copy:hover{
    font-weight: 500;
}


.copied {
    position: absolute;
    animation: balloon 1s forwards;
    pointer-events: none;
    color: #73F698;
}

@keyframes balloon {
    0%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100%{
        transform: translateY(-50px) scale(1.2);
        opacity: 0;
    }
}

.copyParentDiv{
    display: flex;
    align-items: center;
    margin-bottom: -1rem;
    margin-top: -1rem;
}

.copyParentDiv .copyDiv{
    width: 100%;
}

.copyParentDiv .or{
    font-size: 1rem;
    margin: auto 15px;
    padding-top: 3rem;
}


.signedIn{
    cursor: default;
    pointer-events: none;
}

.notification{
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    color: #fff;
    border-radius: 0.3rem;
    cursor: default;
    animation: inAnimation 3s forwards ease-in-out;
}

.success{
    background: #20bf6b;
}

.warning{
    background: #eb3b5a;
}

.notification h2{
    font-size: 1.2rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
}

@keyframes inAnimation {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }

    20%{
        opacity: 1;
        transform: translateY(0px);
    }

    90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.terminalMobile{
    display: none !important;
}

.buttonBg{
    display: none;
}


@media screen and (max-width: 880px) {
    .terminalParent{
        left: 50%;
        transform: scale(0.9) translateX(-55%);
    }
}

@media screen and (max-width: 800px) {
    .terminalParent{
        left: 50%;
        transform: scale(0.8) translateX(-63%);
    }
}

@media screen and (max-width: 680px) {
    .buttonGithub{
        position: fixed;
    }

    .terminalParent{
        display: none;
    }

    .terminalMobile{
        display: flex !important;
        margin-bottom: 2rem;
    }

    .terminalContentMobile{
        display: flex !important;
        transform: scale(0.9) !important;
        gap: 1rem;
        align-items: center;
        height: 30rem !important;
        flex-direction: column;
        border: 1px solid #DCDCDC;
        border-radius: 0.5rem;
        padding: 3rem 2rem 10rem 1rem;
    }

    .illustrationMobile{
        width: 85%;
    }

    .copyDiv{
        width: 90%;
    }
    
    .swiper-pagination-bullet {
        background: white !important;
        width: 8px;
        height: 8px;
        opacity: 0.5;
    }
    
    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}

@media screen and (max-width: 515px) {
    .buttonGithub{
        width: 70%;
    }
}

@media screen and (max-width: 495px) {
    .terminalContentMobile{
        height: 23rem !important;
    }

    .illustrationMobile{
        width: 100% !important;
    }

    .copyDiv{
        width: 100%;
    }
}

@media screen and (max-width: 366px) {  
    .buttonGithub{
        width: 80%;
    }

    .goodgit{
        width: 15rem;
    }
}

@media screen and (max-width: 325px) {
    .buttonGithub{
        width: 90%;
    }
}

@media screen and (max-width: 285px) {  
    .buttonGithub{
        width: 100%;
    }
}

@media screen and (max-height: 775px) {  
    .goodgit{
        width: 15rem;
        margin-top: -4rem;
        margin-bottom: -2rem;
    }

    .buttonGithub{
        bottom: 2rem;
    }
}

@media screen and (max-height: 700px) {  
    .nav svg{
        width: 2.5rem;
    }

    .goodgit{
        width: 14rem;
        margin-top: -5rem;
        margin-bottom: -4rem;
    }

    .terminalContentMobile{
        transform: scale(0.8) !important;
    }

    .buttonGithub{
        z-index: 100;
        bottom: 2rem;
    }
}